* {
  color: #2E2A72;
  font-size: 24px;
  margin-left: 60px;
}

a {
  margin: 0px;
  padding: 0px;
}

.intro {
  margin-left: 90px;
  font-size: 24px;
}

.button {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 120px;
  margin-top: 100px;
}

.button * {
  margin: 0px;
}

.button button {
  padding: 5px 12px;
  font-size: 24px;
  color: white;
  background-color: #3D389A;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button button:hover {
  background-color: #201D55;
}

strong {
  margin: 0px;
}