<app-intro-obligatii></app-intro-obligatii>
<app-cuprins></app-cuprins>

<app-sub-title id="contextFiscal"
[subTitle]="'I. Contextul Fiscal'"></app-sub-title>
<app-context-fiscal></app-context-fiscal>

<app-sub-title id="cartaContribuabilului"
[subTitle]="'II. Carta Contribuabilului'"
></app-sub-title>
<app-carta-contribuabilului-doi></app-carta-contribuabilului-doi>

<app-sub-title id="calendar"
[subTitle]="'III. Calendarul Obligatiilor'"
></app-sub-title>
<app-calendarul-obligatiilor></app-calendarul-obligatiilor>

<app-sub-title id="formulareExplicate"
[subTitle]="'IV. Toate Formularele cu Explicatii'"
></app-sub-title>
<app-toate-formularele></app-toate-formularele>

<app-sub-title id="nomenclatoare"
[subTitle]="'V. Nomenclatoarele Obligatiilor'"  
></app-sub-title>
<app-nomenclatoarele-obligatiilor></app-nomenclatoarele-obligatiilor>

<app-sub-title id="avere"
[subTitle]="'VI. Ghid de Completare a Declaratiilor de Avere'"
></app-sub-title>
<app-ghid-declaratii-avere></app-ghid-declaratii-avere>