<p class="explicatie">De asemenea, în acest cadru fiscal ANAF, împreuna cu Ministerul Finanțelor Publice, a creat Carta Contribuabilului: un document ce exprimă dorința și angajamentul statului de a crea o relație prosperă cu contribuabilul.</p>
<img src="../../../assets/ImagContributii/CartaContribuabiluluiCuText.png">

<p>Consultă Carta Contribuabilului pentru a afla:</p>
<ul>
  <li
  *ngFor="let enumeratie of enumeratii"
  >{{enumeratie}}</li>
</ul>

<div class="button">
  <img src="../../../assets/SageataSpreDreapta.png">
  <a href="https://static.anaf.ro/static/10/Anaf/AsistentaContribuabili_r/CARTA_CONTRIBUABILULUI_10032010.pdf" target="_blank">
    <button>Consulta<br>Carta Contribuabilului.</button>
  </a>
  
  <img src="../../../assets/SageataSpreStanga.png">
</div>
<p class="drepturi">Cunoaste-ti drepturile si obligatiile!</p>