<p>Odată cu această lege, Agenția Națională de Administrare Fiscală în colaborare cu Ministerul Finanțelor Publice, a creat documentul numit <span>Carta Contribuabilului.</span></p>
<img src="../../../assets/ImagContributii/CartaContribuabiluluiCuText.png">
<a href="https://static.anaf.ro/static/10/Anaf/AsistentaContribuabili_r/CARTA_CONTRIBUABILULUI_10032010.pdf" target="_blank">
  <button>Vezi<br>Carta Contribuabilului</button>
</a>

<p class="drepturi">Cunoaște-ți drepturile și obligațiile!</p>