* {
  margin: 0px;
  padding: 0px;
}

div {
  padding: 200px 18%;
  background-image: url('../../../assets/ImagProiecte/imagIntroFaraText.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-600);
  max-width: 600px;
  border-radius: 20px;
  padding: 20px 35px;
}

.first {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--blue-7);
  text-align: center;
  align-self: flex-start;
  z-index: 1;
}

.second {
  background-color: rgba(46, 42, 114, 0.8);
  color: var(--white);
  text-align: center;
  margin-top: -15px;
  align-self: flex-end;
}