<div class="mainComponent">
  <div class="titleText">
    <h3>Ce este Spațiul Privat Virtual?</h3>
    <p>Spațiul Virtual Privat (sau SPV) este o platformă creată special pentru tine, ca tu să îți verifici situația financiară din confortul casei tale.</p>
    <p>Vezi dacă angajatorul ți-a plătit taxele, dacă serviciile contabile sunt înregistrate corect și vezi dacă ai plăți restante la stat.</p>
    <p><b>Pentru a putea folosi SPV trebuie să îți</b></p>
  </div>

  <div class="buttonIndemn">
    <button>Creezi un cont</button>
    <p>sau sa te</p>
    <button>Autentifici</button>
  </div>
</div>