::ng-deep .strong {
  font-weight: 600;
}

::ng-deep .strong:hover {
  text-decoration: underline;
}

::ng-deep a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

p {
  max-width: 80%;
  font-size: var(--font-size-24);
  margin-left: 80px;
  color: var(--blue-7);
}

.consulta {
  text-align: center;
  font-weight: var(--font-weight-600);
  margin-top: 80px;
  margin-bottom: 50px;
}

ul {
  color: var(--blue-7);
}

li {
  font-size: 20px;
  width: 80%;
  margin: 0px auto 15px auto;
}