<p>Strategia Națională Anticorupție reprezintă un set de legi, proceduri și instrumente de lucru prin care ANAF, împreună cu statul, se asigură ca fiecare agent economic își îndeplinește obligațiile fiscale și declarative aferente perioadelor.</p>
<p>Legile se aplică tuturor în mod egal și nediscriminatoriu. Procedurile și condițiile de aplicare a legii sunt susținute de argumente și de un set de reguli morale ce trebuiesc transpuse sub formă de legi în orice stat de drept.</p>

<p class="consulta">Consultă următoarele documente pentru a afla mai multe despre Strategia Națională Anticorupție</p>

<ul>
  <li
  *ngFor="let document of documente"
  [innerHTML]="document"
  ></li>
</ul>