.button {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
  margin-top: 70px;
}

.button * {
  margin: 0px;
}

.button img {
  width: 44px;
  height: 40px;
}

.button button {
  padding: 5px 12px;
  font-size: 24px;
  color: white;
  background-color: #3D389A;
  border: none;
  border-radius: 5px;
}

.button button:hover {
  background-color: #201D55;
}