<p class="intro">În România, orice activitate economică realizată, indiferent de domeniul în care aceasta se realizează, este supusă reglementărilor statului.</p>

<div class="imagCuText">
  <img src="../../../assets/ImagObligatii/ContextFiscal.png">
  <p>Legea care tratează toate taxele, contribuțiile și obligațiile fiscale rezultate din orice activitate economică pe teritoriul României este legea nr. 227/2015 privind Codul Fiscal.</p>
</div>
  
<p>Codul Fiscal, actualizat prin Ordonanța de Urgență a Guvernului nr. 85/2022, descrie și explică taxele și impozitele aplicate în activitățile economice:</p>
<ul>
  <li
  *ngFor="let enumeratie of enumeratii"
  >{{enumeratie}}</li>
</ul>

<div class="button">
  <img src="../../../assets/SageataSpreDreapta.png">
  <a href="https://static.anaf.ro/static/10/Anaf/legislatie/Cod_fiscal_norme_2023.htm" target="_blank">
    <button>Vezi<br>Codul Fiscal</button>
  </a>
  <img src="../../../assets/SageataSpreStanga.png">
</div>