<nav>
  <div class="deasupraPrincipala">
    <a routerLink="">
      <img class="logoNavBar" src="../assets/LogoAnaf.jpg">
    </a>
    <div class="limbaSearch">
      <div class="iconSearch">
        <img src="../assets/SearchIcon.png">
        <input class="inputText" placeholder="Cauta informatii" type="text">
      </div>
       <button class="btnAutentificare"><img src="../assets/logIcon.svg">Autentifica-te in SPV</button>
       <div class="limba">
        <img class="icon" src="../assets/IconsLanguages/SteagRo.jpg">
        <span class="despartitor">/</span>
        <img class="icon" src="../assets/IconsLanguages/SteagGb.jpg">
       </div>
    </div>
  </div>
  <div class="navigarePrincipala">
    <a routerLink="/contributii" routerLinkActive="active">Contributii</a>
    <a routerLink="/obligatii" routerLinkActive="active">Obligatii</a>
    <a routerLink="/servicii" routerLinkActive="active">Servicii ANAF</a>
    <a routerLink="/proiecte" routerLinkActive="active">Proiectele ANAF</a>
    <a routerLink="/stiri" routerLinkActive="active">Stiri si noutati</a>
  </div>
</nav>

<router-outlet></router-outlet>
<app-subsol></app-subsol>