<app-intro-proiecte></app-intro-proiecte>

<app-cuprins></app-cuprins>

<app-subtitlu-shared
id="programeStrategii"
>I. Programe și strategii</app-subtitlu-shared>
<app-programe-strategii></app-programe-strategii>

<app-subtitlu-shared
id="strategieAnticoruptie"
>II. Strategia Națională Anticorupție</app-subtitlu-shared>
<app-strategie-anticoruptie></app-strategie-anticoruptie>

<app-subtitlu-shared
id="programeDigitalizare"
>III. Programe de digitalizare</app-subtitlu-shared>
<app-programe-digitalizare></app-programe-digitalizare>

<app-subtitlu-shared
id="relatiiInternationale"
>IV. Relații internaționale</app-subtitlu-shared>
<app-relatii-internationale></app-relatii-internationale>

<app-subtitlu-shared
id="granturiElvetiene"
>V. Granturi Elvețiene</app-subtitlu-shared>
<app-granturi-elvetiene></app-granturi-elvetiene>

<app-subtitlu-shared
id="emcs"
>VI. EMCS</app-subtitlu-shared>
<app-emcs></app-emcs>
