<p class="intro">Obligațiile de plată la bugetul de stat, denumite și creanțe fiscale, sunt obligatorii pentru orice participant economic pe teritoriul României.</p>
<p class="intro">În nomenclatorul obligațiilor vezi legea aferentă fiecărei taxe, ca tu să ai parte de 100% transparență și respect.</p>

<div class="button">
  <img src="../../../assets/SageataSpreDreapta.png">
  <a href="https://static.anaf.ro/static/10/Anaf/AsistentaContribuabili_r/NomOblBugetStat.htm" target="_blank">
    <button>Vezi<br>Nomenclatoarele obligațiilor</button>
  </a>
  <img src="../../../assets/SageataSpreStanga.png">
</div>