<p class="intro">Conform legii nr. 176 din 1 septembrie 2010 privind integritatea în exercitarea funcțiilor și demnităților publice, funcționarii și demnitarii publici trebuie să completeze declarația de avere și interese.</p>
<p class="intro"><a href="https://www.anaf.ro/anaf/internet/ANAF/info_publice/info_interes_public/decl_avere_interese/ghid_completare_decl_avere/!ut/p/a0/04_Sj9CPykssy0xPLMnMz0vMAfGjzOI9DD3MPIwsjLz8_T3NDQJNgwIs3L39DQ0cTfULsh0VAW-52KI!/" target="_blank">Aici</a> gasești ghidul de completare a declarației de avere și interese.</p>
<span>sau</span>

<div class="button">
  <img src="../../../assets/SageataSpreDreapta.png">
  <a href="https://www.anaf.ro/anaf/internet/ANAF/info_publice/info_interes_public/decl_avere_interese/ghid_completare_decl_avere/!ut/p/a0/04_Sj9CPykssy0xPLMnMz0vMAfGjzOI9DD3MPIwsjLz8_T3NDQJNgwIs3L39DQ0cTfULsh0VAW-52KI!/" target="_blank">
    <button>Vezi Ghidul</button>
  </a>
  <img src="../../../assets/SageataSpreStanga.png">
</div>