<div class="toate">
  <div class="imagini">
    <a href="https://mfinante.gov.ro/ro/web/site" target="_blank">
      <img class="unu" src="../../../assets/LogoMinFinantelorPublice.jpg">
    </a>
    <a href="https://www.anaf.ro/anaf/internet/ANAF/acasa/!ut/p/a1/hc6xDoIwEAbgZ2Ho2jtRCHHDhUocxEXoYkpSCgZbUiq8vtU4OCjedn--y3_AoQSuxdQp4TqjRf_ceXxhKxazMAlzZAViEe32pyg7ImYbDyoP8Mek-O_-DHyRYPwGCxU5cNWb-vVulep6nSjgVjbSSkvv1setc8O4JUhwnmcqtGioNQS_-daMDsoPBsOtxGvUT4c0CB5h5prT/dl5/d5/L2dBISEvZ0FBIS9nQSEh/" target="_blank">
      <img class="doi" src="../../../assets/LogoAnaf.jpg">
    </a>

  </div>
  <p>© Agenția Națională de Administrare Fiscală - CNIF - Conținutul acestui portal este proprietatea Agenției Naționale de Administrare Fiscală</p>
</div>