ul {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-600);
  color: var(--blue-7);
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

li {
  display: inline;
  width: fit-content;
  list-style: none;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

li:hover {
  color: var(--white);
  background-color: var(--blue-7);
}