<p>În era digitalizări ANAF a adoptat proiecte de digitalizare prin care interacțiunea dintre instituție și contribuabil/persoane juridice/alte instituții să fie ușurată și facilitată.</p>
<p class="inCurs">În curs există 2 proiecte:</p>


<div class="douaButoane">

<a href="https://mfinante.gov.ro/ro/web/etransport" target="_blank">
  <app-button-standard>
    Vezi Ro e-Transport
  </app-button-standard>
</a>
<a href="https://mfinante.gov.ro/prezentare-sipoca-739" target="_blank">
  <app-button-standard>Vezi SIPOCA 739</app-button-standard>
</a>
</div>