p {
  font-size: var(--font-size-24);
  color: var(--blue-7);
  text-align: center;
  margin-top: 60px;
}

.inCurs {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-32);
}

.douaButoane {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

