img {
  width: 950px;
  display:block;
  margin: 0px auto;
  margin-top: 50px;
}

div {
  width: 875px;
  height: 160px;
  background-color: #161439;
  opacity: 0.8;
  border-radius: 15px;
  margin: 0px auto;
  margin-top: -120px;
}

p {
  position: relative;
  font-size: 32px;
  font-weight: 600;
  color: white;
  width: 850px;
  text-align: center;
  margin: 0px auto;
  margin-top: -140px;
  margin-bottom: 100px;
}